<app-user-header></app-user-header>
<div class="cart-page">
  <h1>
      Cart Page
  </h1>
  <div class="container">
  <div class="row">
  <div class="col-sm-8 details">
      <ul *ngFor="let cart of cartData">
          <li>
              <img src="{{cart.image}}" alt="">
          </li>
          <li>
              <span> {{cart.food_name}}</span>
          </li>
          <li>
            <span> Quantity : {{cart.quantity}}</span>
        </li>
          <li>
              <span> Price : {{cart.price}}</span>
          </li>
          <li>
              <span> Discount : {{cart.discount}}</span>
          </li>
          
          <li >
             <!-- <button class="form-button"(click)="removeToCart(cart.id)" >Remove To Cart</button> -->
          </li>
      </ul>
      
  </div>
  <div class="col-sm-4 summary">
    <form [formGroup]="coupenCodeForm" (ngSubmit)="applyCoupon()">
        <label>Coupon Code: </label>&nbsp;&nbsp;&nbsp;
        <input  formControlName="couponCode" type="text" name="" id="" placeholder="Enter your Coupon Code here">
        &nbsp;&nbsp;&nbsp;<button type="submit">apply</button>
    </form>
  <h3>Summary</h3>
  <ul>
      <li> <span>Amount:</span><span>{{priceSummery.price}}</span></li>
      <li> <span>Tax:</span><span>{{priceSummery.tax}}</span></li>
      <li> <span>Delivery:</span><span>{{priceSummery.delivery}}</span></li>
      <li> <span>Discount:</span><span>{{priceSummery.discount}}</span></li>
      <li> <span><h4>Total</h4></span> <span><h4>{{priceSummery.total}}</h4></span></li>
      <button (click)="checkout()" class="form-button max-width" >Checkout</button>
  </ul>
  </div>
  </div>
  </div>
</div>
  <app-user-footer></app-user-footer>