
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h1 class="section-title position-relative text-center mb-5">Order List</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="contact-form bg-light rounded p-5">
                    <div id="success"></div>
                    <table class="table align-middle mb-0 bg-white">
                        <thead class="bg-light">
                          <tr>
                            <th>Order Id</th>
                            <th>User ID</th>
                            
                            <th> Status</th>
                            <th><div class="d-flex align-items-center">
                                
                              <div class="ms-3">
                                <p class="fw-bold mb-1">Action</p>
                               
                              </div>
                            </div></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of orderList">
                            <td>
                              <div class="d-flex align-items-center">
                                
                                <div class="ms-3">
                                  <p class="fw-bold mb-1">{{item.id}}</p>
                                 
                                </div>
                              </div>
                            </td>
                            
                            
                            <td>
                                <p class="fw-normal mb-1">{{item.userId}}</p>
                            </td>
                            <td>
                                <p class="fw-normal mb-1">{{item.state}}</p>
                            </td>
                           
                            
                            <td>
                              <button type="button" class="btn btn-link btn-sm btn-rounded btn btn-info"(click)="cancelOrder(item.id)">
                                Cancel
                              </button>
                              <button type="button" class="btn btn-link btn-sm btn-rounded btn btn-info" (click)=" approvedData(item.id)">
                                Approved
                              </button>
                            </td>

                            

                          </tr>
                          
                        </tbody>
                      </table>
                    
                </div>
            </div>
        </div>
    </div>
</div>





