


<!-- SIDEBAR -->
<section id="sidebar">
   <a  class="brand">
      <i class='bx bxs-smile'></i>
      <span class="text">Admin</span>
   </a>
   <ul class="side-menu top">
      <li class="active">
         <a routerLink="./" >
            <i class='bx bxs-dashboard' ></i>
            <span class="text">Dashboard</span>
         </a>
      </li>
      <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class='bx bxs-shopping-bag-alt' ></i>
            <span class="text">&nbsp;All Food Catagory&nbsp;</span>
         </a>
         <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="./add-category/">Add Catagory</a></li>
            <li><a class="dropdown-item" routerLink="./view-category/">All Catagory List</a></li>
            
          </ul>
      </li>
      <li>
         <a routerLink="./add-category/"class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class='bx bxs-doughnut-chart' ></i>
            <span class="text">Food Details&nbsp;</span>
         </a>
         <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="./add-food/">Add Food</a></li>
            <li><a class="dropdown-item" routerLink="./view-food/">All Food List</a></li>
            
          </ul>
      </li>
     
      <li>
         <a routerLink="./view-order/">
            <i class='bx bxs-message-dots' ></i>
            <span class="text">Order Details&nbsp;</span>
         </a>
      </li>
      
      <li>
         <a routerLink="./view-customer/">
            <i class='bx bxs-group' ></i>
            <span class="text">User Details&nbsp;</span>
         </a>
      </li>
      <li>
         <a routerLink="./view-customer/">
            <i class='bx bxs-group' ></i>
            <span class="text">Supplier Details&nbsp;</span>
         </a>
      </li>
      <li>
         <a routerLink="./view-customer/">
            <i class='bx bxs-group' ></i>
            <span class="text">Restaurant Details&nbsp;</span>
         </a>
      </li>
      <li>
         <a href="#">
            <i class='bx bxs-doughnut-chart' ></i>
            <span class="text">Sell Details&nbsp;</span>
         </a>
      </li>
      <li>
         <a href="#">
            <i class='bx bxs-doughnut-chart' ></i>
            <span class="text">Profit&nbsp;</span>
         </a>
      </li>
   </ul>
   <ul class="side-menu">
      <li>
         <a href="#">
            <i class='bx bxs-cog' ></i>
            <span class="text">Settings</span>
         </a>
      </li>
      <li>
         <a routerLink="/" class="logout">
            <i class='bx bxs-log-out-circle' ></i>
            <span class="text">Logout</span>
         </a>
      </li>
   </ul>
</section>
<!-- SIDEBAR -->



<!-- CONTENT -->
<section id="content">
   <!-- NAVBAR -->
   <nav>
      
      <a href="#" class="nav-link"></a>
      <form action="#">
         <div class="form-input">
            <input type="search" placeholder="Search...">
            <button type="submit" class="search-btn"><i class='bx bx-search' ></i></button>
         </div>
      </form>
      <input type="checkbox" id="switch-mode" hidden>
      <label for="switch-mode" class="switch-mode"></label>
      <a href="#" class="notification">
         <i class='bx bxs-bell' ></i>
         
      </a>
         
      <button> <i class='bx bxs-group' ></i></button>
   </nav>
   <!-- NAVBAR -->

   <!-- MAIN -->
   <main>
      <router-outlet></router-outlet>
   </main>
   <div>
   </div>